In [4]:
from bs4 import BeautifulSoup
import requests
import smtplib
import time
import datetime

In [92]:
#connect to website
url = "https://www.amazon.com/Funny-Data-Systems-Business-Analyst/dp/B07FNW9FGJ/ref=sr_1_3?keywords=data%2Banalyst%2Btshirt&qid=1646792169&sprefix=data%2Banal%2Caps%2C716&sr=8-3"

headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/99.0.4844.51 Safari/537.36 Edg/99.0.1150.36", "Accept-Encoding": "gzip, deflate, br", "Accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9", "DNT":"1", "Connection":"close", "Upgrade-Insecure-Requests": "1"}

page = requests.get(url, headers=headers)

soup1 = BeautifulSoup(page.content, "html.parser")
soup2 = BeautifulSoup(soup1.prettify(), "html.parser")
title = soup2.find(id="productTitle").get_text()
price = soup2.find("span", {"class":"a-offscreen"}).get_text()
print(title + price)

                   Funny Got Data MIS Data Systems Business Analyst T-Shirt

                     $16.99

In [93]:
price = price.strip()[1:]
title = title.strip()
print(title, price)

Funny Got Data MIS Data Systems Business Analyst T-Shirt 16.99

In [95]:
import datetime

today = datetime.date.today()

print(today)

2022-03-09

In [100]:
#creating csv file
import csv

header = ['Title', 'Price', 'Date']
data = [title, price, today]

with open('Amazon.csv', 'w', newline='', encoding='UTF8') as f:
    writer = csv.writer(f)
    writer.writerow(header)
    writer.writerow(data)

In [104]:
import pandas as pd

pd.read_csv("D:\Programmingkeun\Python\Amazon.csv")

                                               Title  Price        Date
0  Funny Got Data MIS Data Systems Business Analy...  16.99  2022-03-09
1                                              Title  Price        Date
2  Funny Got Data MIS Data Systems Business Analy...  16.99  2022-03-09
3  Funny Got Data MIS Data Systems Business Analy...  16.99  2022-03-09

In [103]:
#adding data to csv file
with open('Amazon.csv', 'a+', newline='', encoding='UTF8') as f:
    writer = csv.writer(f)
    writer.writerow(data)

In [5]:
def check_price():
    url = "https://www.amazon.com/Funny-Data-Systems-Business-Analyst/dp/B07FNW9FGJ/ref=sr_1_3?keywords=data%2Banalyst%2Btshirt&qid=1646792169&sprefix=data%2Banal%2Caps%2C716&sr=8-3"

    headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/99.0.4844.51 Safari/537.36 Edg/99.0.1150.36", "Accept-Encoding": "gzip, deflate, br", "Accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9", "DNT":"1", "Connection":"close", "Upgrade-Insecure-Requests": "1"}

    page = requests.get(url, headers=headers)

    soup1 = BeautifulSoup(page.content, "html.parser")
    soup2 = BeautifulSoup(soup1.prettify(), "html.parser")
    title = soup2.find(id="productTitle").get_text()
    price = soup2.find("span", {"class":"a-offscreen"}).get_text()
    price = price.strip()[1:]
    title = title.strip()
    today = datetime.date.today()

    header = ['Title', 'Price', 'Date']
    data = [title, price, today]

    with open('Amazon.csv', 'a+', newline='', encoding='UTF8') as f:
        writer = csv.writer(f)
        writer.writerow(data)

In [6]:
while (True):
    check_price()
    time.sleep(5)

NameError: name 'csv' is not defined

In [16]:
import pandas as pd

pd.read_csv("D:\Programmingkeun\Python\Amazon.csv")

                                               Title  Price        Date
0  Funny Got Data MIS Data Systems Business Analy...  16.99  2022-03-09
1  Funny Got Data MIS Data Systems Business Analy...  16.99  2022-03-09
2  Funny Got Data MIS Data Systems Business Analy...  16.99  2022-03-09
3  Funny Got Data MIS Data Systems Business Analy...  16.99  2022-03-09